body {
    background-color: #282970;
    color: #FFFFFF;
    font-family: Optima; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
}

#map { 
    height: 100%; 
    width: 100%;
    background-color: #999999;
}
#buttonBorder {
    /*
    border-color: #FFFFFF;
    border-width: 2px;
    background-color: #FFDEDE;
    border-radius: 7px;
    outline: 2px;
    outline-color: #000000;
    */
    background-color: rgba(0, 0, 0, 0.5);
}


#locationBorder {
    background-color: rgba(0, 0, 0, 0.5);

}

#hint {
    transition: 0.1s;
}

#hint:hover {
    fill: rgba(100, 100, 100, 1);
}

#hint:active {
    fill: rgba(150, 150, 150, 1);
}

#hint:active:after {
    transition: 0.2s;
}


#hint-label {
    background-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-color: rgba(100, 100, 100, 0.5);
    border-width: 2px;
    border-radius: 5px;
    color: rgba(100, 100, 100, 1);
}

#welcome-display {
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(255, 255, 255);
    
}

.clear {
    background: transparent !important;
    border: none !important;
    outline: none !important;
}
.clear:focus {
    background: transparent !important;
    border: none !important;
    outline: none !important;
}

.primaryBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    font-weight: 700;
    font-size: 25;
    color: rgba(200, 200, 200, 0.8);
    background-color: rgba(45, 45, 45, 0.0);
    border-color: rgba(200, 200, 200, 0.3);
    border-width: 0.5px;
    border-radius: 3px;
    /*
    background-image: radial-gradient(circle, #FFDE38 0%, #FFB340 100%);
    border-color: #FFB340;
    border-width: 3px;
    */
}

.primaryBtn:hover {
    /*
    filter: brightness(95%);
    color: #454545;
    border-color: #FFB340;
    */
    border-color: rgba(200, 200, 200, 0.2);
    background-color: rgba(45, 45, 45, 0.3);
}
.primaryBtn:active {
    border-color: rgba(200, 200, 200, 0.7) !important;
    background-color: rgba(45, 45, 45, 0.7) !important;
    
}

.fixed-top {
    z-index: 500;
}

.leaflet-control-zoom {
    position: absolute;
    top: 5px;
    bottom: 10px; /* distance from bottom*/
    left: 5px; /* distance from left */
    z-index: 10000; /* Ensure the zoom control is above other map elements */
}

.modal-title {
    margin: auto;
    text-align: center !important;
}

@media screen and (max-width: 850px){
    #locationBorder {
        margin-right: 0px !important;
        right: 0px !important;
        margin-left: 65% !important;
    }
    #hint-label {
        width: 30%;
    }
}
@media screen and (max-width: 300px){
    #hint-label {
        width: 50%;
    }
}

#countyModal .modal-body,
#countyModal .modal-title,
#countyModal .modal-footer {
    color: black; 
}

#countyModal .modal-body {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    }